body{
  background-color: black;
  background-image: url(../img/background-orange.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Titles */
/* -------------------------------------------------------------------------- */

h2, h3{
  color: white;
}

/*Center menu*/
/* -------------------------------------------------------------------------- */

.center-menu button{
  width:100%;
}

.center-menu a:hover {
  text-decoration: none;
}

.center-menu img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-menu{
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
