/* Messages */
/* ---------------------------------------------------------------------------*/

#messages{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message{
  display:flex;
  align-self: flex-end;
  flex-direction: column;
}

.message-img img{
  width: 100%;
}

.message-text {
  text-align: right;
}

.message-infos{
  text-align: right;
  color: grey;
}

.message-author{
  white-space: nowrap;
}

/* Update bar */
/* ---------------------------------------------------------------------------*/

#update-bar{
  width: 100%;
  color: white;
  background-color: black;
  height: 40px;
  /*padding-top: 8px;*/
}

#update-bar .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#update-text{
  padding-bottom: 4px;
  align-self: center;
  flex-grow: 1;
}

#update-button{
  text-align: right;
  align-self: center;
  flex-grow: 1;
}

#update-button button{
  color: white;
}

#update-button span{
  color: black
}
