.message-img img{
  max-height: 300px;
}

.message-text {
  text-align: left;
  font-size: 25px;
}

.message-infos{
  text-align: left;
  font-size: 22px;
}

.message{
  align-self: flex-start;
}

#access{
  font-weight: bold;
  background-color: orange;
  position: absolute;
  font-size: 25px;
  right: 0;
  bottom: 100px;
}
